*{
  box-sizing: border-box;
}

body{
  width: 100%;
 
  margin: 0px;
  background-color: #1F273D;
  position: absolute;
  font-family: "微軟正黑體", "BiauKai", "helvetica";
  z-index: -1;
}

div.icon img.category{
  width: 30px;
  position: fixed;
  top: 45px;
  right: 120px;
  z-index: 10;
}
div.icon img.member{
  width: 30px;
  position: fixed;
  top: 95px;
  right: 118px;
  z-index: 10;
}
div.icon img.bag{
  width: 30px;
  position: fixed;
  top: 148px;
  right: 115px;
  z-index: 10;
}
#go_top{
  width: 30px;
  position: fixed;
  bottom: 50px;
  right: 120px;
  z-index: 10;
}

nav.nav{
  /* border: 1px solid white; */
  width: 1200px;
  margin: 25px  auto;
}

nav.nav ul.list{
  text-align: center;
  list-style: none;
  margin: 0 70px;
  padding: 0;
  font-size: 0px;
}

nav.nav ul.list div.shop{
  /* border: 1px solid blue; */
  padding: 20px 0px;
  position: relative;
  margin: 0px 30px;
  font-size: 16px;
}
nav.nav ul.list div.shop a.shop_cate{
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
}
nav.nav ul.list div.shop ul.shop_list{
  margin: 0;
  padding: 0;
  position: absolute;
  right: -7px;
  top: 100%;
  display: none;
  z-index: 1;
}
nav.nav ul.list div.shop:hover ul.shop_list{
  display: block;
}
nav.nav ul.list div.shop ul.shop_list > li{
  /* border: 1px solid red; */
  width: 80px;
  list-style: none;
  margin: 0px;
  padding: 15px 5px;
  text-align: center;
}
nav.nav ul.list div.shop ul.shop_list > li > a{
  color: white;
  text-decoration: none;
  font-size: 14px;
  padding: 3px 0px;
  transition: 0.5s;
}
nav.nav ul.list li > a img.logo{
  width: 66px;
  height: 66px;
  display: inline-block;
  /* margin: 0px 30px 0px 80px; */
}
ul.list > li {
  color: white;
  display: inline-block;
  vertical-align: middle;
  padding: 0px;
  margin: 0px;
}
ul.list > li > a{
  /* border: 1px solid green; */
  color: white;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  /* padding: 20px 0px; */
  margin: 0px 30px;
  font-size: 16px;
  transition: 0.5s;
}
ul.list > li > a.about_us:hover{
  background-color: #D6C9A1;
  padding: 3px 0px;
  border-radius: 10px;
  color: black
}
ul.list > li > a.pro_test:hover{
  background-color: #D6C9A1;
  padding: 3px 0px;
  border-radius: 10px;
  color: black
}
ul.list > li > a.combination:hover{
  background-color: #D6C9A1;
  padding: 3px 0px;
  border-radius: 10px;
  color: black
}
ul.list > li > a.group:hover{
  background-color: #D6C9A1;
  padding: 3px 0px;
  border-radius: 10px;
  color: black
}
ul.list > li > a.traffic:hover{
  background-color: #D6C9A1;
  padding: 3px 0px;
  border-radius: 10px;
  color: black
}
nav.nav ul.list div.shop ul.shop_list > li > a:hover{
  background-color: #D6C9A1;
  padding: 3px 0px;
  border-radius: 10px;
  color: black

}
div.hamburger{
  background-color: #121B32;
  /* border: 1px solid blue; */
  width: 800px;
  height: 500px;
  position: fixed;
  top: 85px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  border-radius: 50px;
}
div.hamburger div.hamburger_all{
  /* border: 1px solid red; */
  position: absolute;
  height: 480px;
  width: 230px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10px;
}
div.hamburger div.hamburger_all > a img{
  /* border: 1px solid green; */
  display: block;
  width: 220px;
  position: relative;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}
div.hamburger div.hamburger_all > a img:hover{
  left:48%;
}
#icon_ham{
  width: 50px;
  position: absolute;
  top: 25px;
  right: 25px;
}
div.combine_background_1{
  /* border: 1px solid red; */
  background-color: #2B344A;
  width: 100%;
  height: 1100px;
  position: absolute;
  bottom: 190px;
  z-index: -2;
}
div.combine_background_2{
  /* border: 1px solid red; */
  background-color: #37415A;
  width: 50%;

  height: 400px;
  position: absolute;
  border-radius: 500px 0px 0px 500px;
  top: 1080px;
  right: 0px;
  z-index: -2;
}
div.combine_background_3{
  /* border: 1px solid red; */
  background-color: #37415A;
  width: 50%;
  height: 280px;
  position: absolute;
  border-radius: 0px 500px 500px 0px;
  top: 1900px;
  left: 0px;
  z-index: -2;
}
div.combine_content{
  /* border: 1px solid red; */
  width: 100%;
  max-width: 1200px;
  height: 2200px;
  position: relative;
  margin: 0 auto;
  z-index: -1;
}
div.combine_content div.combine_title_1{
  /* border: 1px solid green; */
  width: 300px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0px;
}
div.combine_content pre.combine_title{
  color: white;
  font-size: 20px;
  position: absolute;
  left: 80px;
  top: 95px;
}
div.combine_content div.combine_title_1 img.combine_title_jpg{
  width: 280px;
  margin-top: 100px;
}
div.combine_content div.ear{
  /* border: 1px solid blue; */
  width: 500px;
  height: 400px;
  position: absolute;
  right: 0px;
  top: 350px;
}
div.combine_content div.ear img.ear{
  width: 240px;
  position: absolute;
  right: 200px;
  top: 30px;
  opacity: .1;
}
div.combine_content div.ear img.right_desk{
  width: 400px;
  position: absolute;
  right: 0px;
  top: 200px;
  opacity: 0.3;
}
div.combine_content div.umbrella_1{
  /* border:1px solid green; */
  height: 1000px;
  position: absolute;
  top: 270px;
  left: 230px;
}
div.combine_content div.umbrella_1 img.stairs{
  width: 90px;
  position: absolute;
  left: 220px;
  top: 500px;
}
div.combine_content div.umbrella_1 img.hi{
  width: 270px;
  position: absolute;
  left: 70px;
  /* top: 480px;  下滑幅度 */
  top: 620px;
  transform: rotate(-33deg);
}
div.combine_content div.umbrella_1 img.next_1{
  position: absolute;
  left: 250px;
  top: 440px;
  transform: rotate(-90deg);
}
div.combine_content div.umbrella_1 img.umbrella{
  width: 300px;
  border-radius: 20px;
}
div.combine_content div.umbrella_content_1{
  /* border: 1px solid white; */
  width: 350px;
  height: 300px;
  position: absolute;
  right: 200px;
  top: 1000px;
}
div.umbrella_content_1 pre.umbrella_title{
  color: white;
  font-size: 18px;
  position: absolute;
  left: 130px;
  top: 20px;
}
div.combine_content div.umbrella_content_1 pre.umbrella_content{
  color: white;
  position: absolute;
  left: 130px;
  top: 70px;
  font-size: 16px;
}
div.combine_content div.umbrella_content_1 img.umbrella_logo{
  width: 100px;
  position: absolute;
  left: 40px;
  top: 200px;
}
div.combine_content div.umbrella_content_1 img.X{
  width: 55px;
  position: absolute;
  left: 155px;
  top: 220px;
}
div.combine_content div.umbrella_content_1 img.lh_logo{
  width: 100px;
  position: absolute;
  left: 220px;
  top: 195px;
}
div.combine_content div.porsche_2{
  /* border: 1px solid red; */
  position: absolute;
  top: 1600px;
  right: 0;
}
div.combine_content div.porsche_2 img.porsche{
  width: 520px;
  border-radius: 20px;
}
div.combine_content div.porsche_2 img.what{
  width: 260px;
  margin-right: 50px;
}
div.combine_content div.porsche_content_2{
  /* border: 1px solid white; */
  display: inline-block;
  position: relative;
  bottom: 200px;
}
div.combine_content div.porsche_2 img.next_2{
  position: relative;
  bottom: 100px;
  right: 30px;
}
div.combine_content div.porsche_content_2 img.chat_box{
  width: 300px;
}
pre.porsche_title{
  color: white;
  font-size: 18px;
  position: absolute;
  left: 50px;
  top: 50px;
}
pre.porsche_content{
  color: white;
  font-size: 16px;
  position: absolute;
  left: 50px;
  top: 80px;
}
