img{
  max-width: 100%;
}
@media all and (max-width: 575.98px){
  
  div.traffic{
    width: 100%;
  }
  nav.nav{
    width: 100%;
  }
  ul.list > li:first-child{
    display: block;
    text-align: center;
    border-bottom: 1px solid white;
    padding-bottom: 20px;
  }
  ul.list > li:nth-child(2){
    display: none;
  }
  ul.list > li:nth-child(3){
    display: none;
  }
  ul.list > li:nth-child(4){
    display: none;
  }
  ul.list > li:nth-child(5){
    display: none;
  }
  ul.list > li:nth-child(6){
    display: none;
  }
  ul.list > li:nth-child(7){
    display: none;
  }
  div.icon img.category{
    right: 3%;
  }
  div.icon img.member{
    right: 3%;
  }
  div.icon img.bag{
    right: 2%;
  }
  #go_top{
    right: 3%;
  }
  div.hamburger{
    width: 100%;
    height: 100%;
    top: 0;
    border-radius: 0;
    background-color: rgba(31, 39, 61, .8);
  }
  div.traffic img.map{
    top: 0;
    width: 70%;
  }
  img.chair{
    display: none;
  }
  div.traffic{
    padding-bottom: 50px;
  }
  div.footer{
    width: 100%;
    /* width: 540px; */
  }
  div.left_background{
    display: none;
  }
  div.footer_color{
    width: 100%;
    /* min-width: 540px; */
  }
  #tibame{
    width: 100%; 
   }
  body{
    width: 100%;
    /* min-width: 540px; */
  }
  div.footer img.footer_sketch{
    display: none;
  }
  div.traffic_content{
    position: relative;
    width: 70%;
    font-size: 14px;
  }
  div.footer div.add_block img.twitter{
    margin-right: 10px;
  }
  p.time{
    margin-left: 0;
  }
  div.traffic_content > div > div > div{
    /* display: block; */
    margin-left: 0;
  }
  div.traffic_content > div{
    border-bottom: 1px solid gray;
  }
}
@media all and (min-width: 576px) and (max-width: 767.98px){
  div.traffic{
    width: 100%;
    /* width: 540px; */
  }
  nav.nav{
    width: 100%;
    /* width: 540px; */
  }
  ul.list > li:first-child{
    display: block;
    text-align: center;
    border-bottom: 1px solid white;
    padding-bottom: 20px;
  }
  ul.list > li:nth-child(2){
    display: none;
  }
  ul.list > li:nth-child(3){
    display: none;
  }
  ul.list > li:nth-child(4){
    display: none;
  }
  ul.list > li:nth-child(5){
    display: none;
  }
  ul.list > li:nth-child(6){
    display: none;
  }
  ul.list > li:nth-child(7){
    display: none;
  }
  div.icon img.category{
    right: 40px;
  }
  div.icon img.member{
    right: 38px;
  }
  div.icon img.bag{
    right: 35px;
  }
  #go_top{
    right: 40px;
  }
  div.hamburger{
    width: 100%;
    height: 100%;
    top: 0;
    border-radius: 0;
    background-color: rgba(31, 39, 61, .8);
  }
  div.traffic img.map{
    top: 0;
    width: 350px;
    margin: 0 auto;
    display: block;
  }
  img.chair{
    width: 130px;
  }
  div.traffic{
    padding-bottom: 220px;
  }
  div.footer{
    width: 100%;
    /* width: 540px; */
  }
  div.footer_color{
    width: 100%;
    /* min-width: 540px; */
  }
  body{
    width: 100%;
    /* min-width: 540px; */
  }
  div.footer img.footer_sketch{
    display: none;
  }
  
}
@media all and (min-width: 768px) and (max-width: 991.98px){
  div.traffic{
    width: 100%;
    /* width: 720px; */
  }
  nav.nav{
    width: 100%;
    /* width: 720px; */
  }
  ul.list > li:first-child{
    display: block;
    text-align: center;
    border-bottom: 1px solid white;
    padding-bottom: 20px;
  }
  ul.list > li:nth-child(2){
    display: none;
  }
  ul.list > li:nth-child(3){
    display: none;
  }
  ul.list > li:nth-child(4){
    display: none;
  }
  ul.list > li:nth-child(5){
    display: none;
  }
  ul.list > li:nth-child(6){
    display: none;
  }
  ul.list > li:nth-child(7){
    display: none;
  }
  div.icon img.category{
    right: 60px;
  }
  div.icon img.member{
    right: 58px;
  }
  div.icon img.bag{
    right: 55px;
  }
  #go_top{
    right: 60px;
  }
  div.hamburger{
    width: 100%;
    height: 100%;
    top: 0;
    border-radius: 0;
    background-color: rgba(31, 39, 61, .8);
  }
  div.traffic img.map{
    top: 0;
    width: 350px;
    margin: 0 auto;
    display: block;
  }
  div.traffic{
    padding-bottom: 220px;
  }
  div.footer{
    width: 100%;
    /* width: 720px; */
  }
  div.footer_color{
    width: 100%;
    /* min-width: 720px; */
  }
  body{
    width: 100%;
    /* min-width: 720px; */
  }
  div.footer img.footer_sketch{
    display: none;
  }
}
@media all and (min-width: 992px) and (max-width: 1199.98px){
  div.traffic{
    width: 100%;
    /* width: 960px; */
  }
  nav.nav ul.list{
    width: 100%;
    /* width: 960px; */
  }
  nav.nav{
    width: 100%;
    /* width: 960px; */
  }
  nav.nav ul.list{
    margin: 0;
  }
  ul.list > li > a{
    margin: 0 10px;
  }
  nav.nav ul.list div.shop{
    margin: 0 10px;
  }
  div.footer{
    width: 100%;
    /* width: 960px; */
  }
  div.footer_color{
    width: 100%;
    /* min-width: 960px; */
  }
  body{
    width: 100%;
    /* min-width: 960px; */
  }
  div.footer img.footer_sketch{
    display: none;
  }
}
@media all and (min-width: 1200px) and (max-width: 1399.98px){
  div.traffic{
    width: 100%;
    
    /* width: 1140px; */
  }
  nav.nav{
    width: 100%;
    /* width: 1140px; */
  }
  div.footer{
    width: 100%;
    /* width: 1140px; */
  }
  div.footer_color{
    width: 100%;
    /* min-width: 1140px; */
  }
  
  div.footer img.footer_sketch{
    left:0;
  }
}
@media all and (min-width: 1400px){
  nav.nav{
    width: 100%;
    /* width: 1320px; */
  }
  div.footer_color{
    width: 100%;
    /* min-width: 1200px; */
  }
}