*{
  box-sizing: border-box;
}

body{
  /* border: 1px solid red; */
  width: 100%;
  /* min-width: 1200px; */
  margin: 0px;
  /* height: 1250px; */
  background-color: #1F273D;
  position: absolute;
  font-family: "微軟正黑體", "BiauKai", "helvetica";
  font-size: 16px;
}

div.icon img.category{
  width: 30px;
  position: fixed;
  top: 45px;
  right: 120px;
  z-index: 10;
}
div.icon img.member{
  width: 30px;
  position: fixed;
  top: 95px;
  right: 118px;
  z-index: 10;
}
div.icon img.bag{
  width: 30px;
  position: fixed;
  top: 148px;
  right: 115px;
  z-index: 10;
}
#go_top{
  width: 30px;
  position: fixed;
  bottom: 50px;
  right: 120px;
  z-index: 10;
}
nav.nav{
  /* border: 1px solid white; */
  width: 1200px;
  margin: 25px  auto;
}

nav.nav ul.list{
  text-align: center;
  list-style: none;
  margin: 0 70px;
  padding: 0;
  font-size: 0px;
}

nav.nav ul.list div.shop{
  /* border: 1px solid blue; */
  padding: 20px 0px;
  position: relative;
  margin: 0px 30px;
  font-size: 16px;
}
nav.nav ul.list div.shop a.shop_cate{
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
}
nav.nav ul.list div.shop ul.shop_list{
  margin: 0;
  padding: 0;
  position: absolute;
  right: -7px;
  top: 100%;
  display: none;
  z-index: 1;
}

nav.nav ul.list div.shop:hover ul.shop_list{
  display: block;
}

nav.nav ul.list div.shop ul.shop_list > li{
  /* border: 1px solid red; */
  width: 80px;
  list-style: none;
  margin: 0px;
  padding: 15px 5px;
  text-align: center;
}

nav.nav ul.list div.shop ul.shop_list > li > a{
  color: white;
  text-decoration: none;
  font-size: 14px;
  padding: 3px 0px;
  transition: 0.5s;
}

nav.nav ul.list li > a img.logo{
  width: 66px;
  height: 66px;
  display: inline-block;
  /* margin: 0px 30px 0px 80px; */
}

ul.list > li {
  color: white;
  display: inline-block;
  vertical-align: middle;
  padding: 0px;
  margin: 0px;
}

ul.list > li > a{
  /* border: 1px solid green; */
  color: white;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  /* padding: 20px 0px; */
  margin: 0px 30px;
  font-size: 16px;
  transition: 0.5s;
}

ul.list > li > a.about_us:hover{
  background-color: #D6C9A1;
  padding: 3px 0px;
  border-radius: 10px;
  color: black
}
ul.list > li > a.pro_test:hover{
  background-color: #D6C9A1;
  padding: 3px 0px;
  border-radius: 10px;
  color: black
}
ul.list > li > a.combination:hover{
  background-color: #D6C9A1;
  padding: 3px 0px;
  border-radius: 10px;
  color: black
}
ul.list > li > a.group:hover{
  background-color: #D6C9A1;
  padding: 3px 0px;
  border-radius: 10px;
  color: black
}
ul.list > li > a.traffic:hover{
  background-color: #D6C9A1;
  padding: 3px 0px;
  border-radius: 10px;
  color: black
}
nav.nav ul.list div.shop ul.shop_list > li > a:hover{
  background-color: #D6C9A1;
  padding: 3px 0px;
  border-radius: 10px;
  color: black

}
div.hamburger{
  background-color: #121B32;
  /* border: 1px solid blue; */
  width: 800px;
  height: 500px;
  position: fixed;
  top: 85px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  border-radius: 50px;
}
div.hamburger div.hamburger_all{
  /* border: 1px solid red; */
  position: absolute;
  height: 480px;
  width: 230px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10px;
}
div.hamburger div.hamburger_all > a img{
  /* border: 1px solid green; */
  display: block;
  width: 220px;
  position: relative;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}
div.hamburger div.hamburger_all > a img:hover{
  left:48%;
}
#icon_ham{
  width: 50px;
  position: absolute;
  top: 25px;
  right: 25px;
}
div.left_background{
  height: 200px;
  position: absolute;
  left: 0;
  bottom: -100px;
  width: 300px;
  border-radius: 100px;
  background-color: #37415A;
}
img.chair{
  width: 150px;
  position: absolute;
  bottom: 0px;
  left: 50px;
}
div.traffic{
  /* border: 1px solid red; */
  width: 1200px;
  position: relative;
  margin: 0 auto;
  padding-bottom: 150px;
  text-align: center;
}
div.traffic_content{
  /* border: 1px solid green; */
  color:white;
  display: inline-block;
}
div.traffic_content > div{
  /* border: 1px solid blue; */
  display: grid;
  margin-bottom: 50px;
}
div.traffic_content > div > div{
  /* border: 1px solid white; */
  display: inline-block;
}
div.traffic_content > div > div > div{
  /* border: 1px solid gray; */
  display: inline-block;
  margin-left: 20px;
}
pre.time{
  margin-left: 60px;
}
div.traffic img.map{
  /* border: 1px solid white; */
  width: 400px;
  position: relative;
  top: 100px;
}
div.traffic img.office{
  width: 30px;
}
div.traffic img.tel_1{
  width: 20px;
}
div.traffic img.factory{
  width: 25px;
}
div.traffic img.tel_2{
  width: 20px;
}
div.traffic img.mail{
  width: 30px;
}

