
*{
  box-sizing: border-box;
}

body{
  /* border: 1px solid red; */
  margin: 0px;
  width: 100%;
  /* min-width: 1200px; */
  background-color: #1F273D;
  font-family: "微軟正黑體", "BiauKai", "helvetica";
}

div.icon img.category{
  width: 30px;
  position: fixed;
  top: 45px;
  right: 120px;
  z-index: 10;
}
div.icon img.member{
  width: 30px;
  position: fixed;
  top: 95px;
  right: 118px;
  z-index: 10;
}
div.icon img.bag{
  width: 30px;
  position: fixed;
  top: 148px;
  right: 115px;
  z-index: 10;
}
#go_top{
  width: 30px;
  position: fixed;
  bottom: 50px;
  right: 120px;
  z-index: 10;
}

nav.nav{
  /* border: 1px solid white; */
  width: 1200px;
  margin: 25px  auto;
  text-align: center;
}

nav.nav ul.list{
  list-style: none;
  margin: 0 70px;
  padding: 0;
  font-size: 0px;
}

nav.nav ul.list div.shop{
  /* border: 1px solid blue; */
  padding: 20px 0px;
  position: relative;
  margin: 0px 30px;
  font-size: 16px;
}
nav.nav ul.list div.shop a.shop_cate{
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
}
nav.nav ul.list div.shop ul.shop_list{
  margin: 0;
  padding: 0;
  position: absolute;
  right: -7px;
  top: 100%;
  display: none;
  z-index: 1;
}

nav.nav ul.list div.shop:hover ul.shop_list{
  display: block;
}

nav.nav ul.list div.shop ul.shop_list > li{
  /* border: 1px solid red; */
  width: 80px;
  list-style: none;
  margin: 0px;
  padding: 15px 5px;
  text-align: center;
}

nav.nav ul.list div.shop ul.shop_list > li > a{
  color: white;
  text-decoration: none;
  font-size: 14px;
  padding: 3px 0px;
  transition: 0.5s;
}

nav.nav ul.list li > a img.logo{
  width: 66px;
  height: 66px;
  display: inline-block;
  /* margin: 0px 30px 0px 80px; */
}

ul.list > li {
  color: white;
  display: inline-block;
  vertical-align: middle;
  padding: 0px;
  margin: 0px;
}

ul.list > li > a{
  /* border: 1px solid green; */
  color: white;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  /* padding: 20px 0px; */
  margin: 0px 30px;
  font-size: 16px;
  transition: 0.5s;
}

ul.list > li > a.about_us:hover{
  background-color: #D6C9A1;
  padding: 3px 0px;
  border-radius: 10px;
  color: black
}
ul.list > li > a.pro_test:hover{
  background-color: #D6C9A1;
  padding: 3px 0px;
  border-radius: 10px;
  color: black
}
ul.list > li > a.combination:hover{
  background-color: #D6C9A1;
  padding: 3px 0px;
  border-radius: 10px;
  color: black
}
ul.list > li > a.group:hover{
  background-color: #D6C9A1;
  padding: 3px 0px;
  border-radius: 10px;
  color: black
}
ul.list > li > a.traffic:hover{
  background-color: #D6C9A1;
  padding: 3px 0px;
  border-radius: 10px;
  color: black
}
nav.nav ul.list div.shop ul.shop_list > li > a:hover{
  background-color: #D6C9A1;
  padding: 3px 0px;
  border-radius: 10px;
  color: black
}
div.hamburger{
  background-color: #121B32;
  /* border: 1px solid blue; */
  width: 800px;
  height: 500px;
  position: fixed;
  top: 85px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  border-radius: 50px;
}
div.hamburger div.hamburger_all{
  /* border: 1px solid red; */
  position: absolute;
  height: 480px;
  width: 230px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10px;
}
div.hamburger div.hamburger_all > a img{
  /* border: 1px solid green; */
  display: block;
  width: 220px;
  position: relative;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}
#hide1{
  display: none;
}
div.hamburger div.hamburger_all > a img:hover{
  left:48%;
}
#close_ham{
  width: 50px;
  position: absolute;
  top: 25px;
  right: 25px;
}
div.banner_background_color{
  /* border: 1px solid red; */
  background-color: #121B32;
  width: 100%;
  position: absolute;
  height: 1680px;
  margin: 0 auto;
  top:220px;
  z-index: -1;
}
 div.banner_background{
   /* border: 1px solid red; */
   width: 1200px;
   margin: 0 auto;
   position: relative;
 }
div.banner_background div.top_1{
  /* border: 1px solid blue; */
  display: block;
}
div.banner_background div.top_1 img.key_1{
  /* border: 1px solid red; */
  width: 520px;
  /* width: 43%; */
  position: relative;
  left: 30px;
  bottom: 200px;
}
div.banner_background div.top_1 div.light{
  /* border: 1px solid blue; */
  /* width: 80%; */
  display: inline-block;
  margin: 0 auto;
  vertical-align: left;
  position: absolute;
  left: 80px;
  top: 140px;
}
div.banner_background div.top_1 img.light_left{
  width: 110px;
  /* width: 14%; */
  display: inline-block;
}
div.banner_background div.top_1 img.light_middle{
  width: 109px;
  /* width: 15%; */
  display: inline-block; 
  vertical-align: top;
  position: relative;
  top: 50px;
}
div.banner_background div.top_1 img.light_right{
  /* width: 18%; */
}
div.banner_background div.top_1 div.key_color_bank > img{
  width: 600px;
  /* width: 50%; */
  height: 180px;
  display:block;
  vertical-align: top;
  margin-top: 70px;
}
div.banner_background div.circle_right{
  /* border:1px solid red; */
  position: relative;
  right: 0px;
  text-align: right;
}
div.banner_background div.circle_right_color{
  /* border: 1px solid blue; */
  display: inline-block;
  background-color: #2F364A;
  width: 350px;
  height: 430px;
  border-radius: 300px 20px 20px 300px;
 }
div.banner_background div.circle_right img.machine_1{
  border-radius: 200px 20px 20px 200px;
  width: 300px;
  position: absolute;
  right: 10px;
  top: 20px; 
}
div img.banner_logo{
  position: absolute;
  left: 55%;
  transform: translateX(-50%);
  top: 750px;
  width: 250px;
  opacity: .5;
}
div.banner_background div.circle_left{
  /* border:1px solid white; */
  position: relative;
}
div.banner_background div.circle_left img.combination_1{
  width: 430px;
  border-radius: 30px 400px 400px 30px;
  position: absolute;
  left: 20px;
  top:  20px;
}
div.banner_background div.circle_left_color{
  background-color: #2F364A;
  width: 490px;
  height: 630px;
  border-radius: 30px 330px 330px 30px;
}
div.bottom{
  /* border: 1px solid green; */
  text-align: right;
}
div.bottom img.fan{
  /* border: 1px solid red; */
  width: 160px;
  text-align: right;
  position: relative;
  bottom: 50px;
  right: 100px;
}
div.banner_background div.bottom div.fan_color_bank > img{
  /* border: 1px solid blue; */
  width: 600px;
  height: 150px;
  position: relative;
  top: 150px;
}
div div.bottom img.money_1{
  /* border: 1px solid blue; */
  width: 500px;
  position: relative;
  left: 120px;
  bottom: 90px;
}
div.key_background{
  /* border: 1px solid red; */
  width: 1200px;
  height: 520px;
  margin: 0px  auto;
  background-image: url("../image/story/key_background.png");
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
  margin: 150px auto;
}

div.key_background div.about{
  width: 800px;
  height: 210px;
  /* border: 1px solid blue; */
  margin: 0 auto;
  position: absolute;
  top: 180px;
  left: 50%;
  transform: translateX(-35%);
  overflow: auto;
}

div.key_background div.about::-webkit-scrollbar {
    display: none;
}

div.key_background img.story{
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  width: 150px;
  height: 140px;
  margin: 0 auto;
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-300%);
  top: 200px;
}

div.key_background div.about > p{
  display: inline-block;
  color: white;
  line-height: 25px;
  font-size: 16PX;
}
div.key_background div.about > p > span{
  /* border: 1px solid red; */
  text-decoration: underline ;
  text-underline-offset: 10px;
  font-size: 18px;
}
div.pull_me{
  /* border: 1px solid red; */
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  margin: 150px auto;
}
div.pull_me div > img{
  margin: 0 auto;
  display: block;
}
div.pull_me > pre{
  /* border: 1px solid blue; */
  text-decoration: underline ;
  text-underline-offset: 10px;
  font-size: 18px;
  color: white;
  text-align: center;
  position: relative;
  left: 350px;
  display: block;
  margin: 0 auto;
}
.twentytwenty-container{
  margin-left: 150px;
}
.twentytwenty-after-label{
  display: none;
}
.twentytwenty-before-label{
  display: none;
}
.twentytwenty-overlay{
  display: none;
}

div.product_background{
  /* border: 1px solid white; */
  background-color: #121B32;
  /* min-width: 1200px; */
  width: 100%;
  margin-bottom: 200px;
}
div.product_background div.product div.autoplay  a img{
  /* border: 1px solid red; */
  display: inline-block;
  height: 200px;
}
div.product_background div.product div.autoplay {
  /* border: 1px solid blue; */
  text-align: center;
  width: 80%;
  position: relative;
  top: 0px;
  margin: 0 auto;
}
.slick-prev:before, .slick-next:before{
  top: 5px !important;
}
div.product_background div.product{
  /* border: 1px solid green; */
  width: 100%;
  max-width: 1200px;
  display: block;
  position: relative;
  margin: 0 auto;
}
div.process{
  /* border: 1px solid red; */
  position: relative;
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 150px;
}
div.process > pre{
  /* border: 1px solid blue; */
  text-decoration: underline ;
  text-underline-offset: 10px;
  font-size: 20px;
  color: white;
  text-align: center;
  position: relative;
  text-align: left;
  padding-left: 300px;
  display: block;
  margin-bottom: 100px;
}
div.process div.material{
  /* border: 1px solid red; */
  text-align: left;
  display: block;
  padding-left: 200px;
  margin-bottom: 80px;
}
div.process div.material div {
  /* border: 1px solid white; */
  display: inline-block;
  vertical-align: middle;
}
div.process div.material div img.material_1{
  width: 200px; 
  border-radius: 50%;
}
div.process div.material div img.icon_1{
  width: 100px;
}
div.process div.material div > a {
  color: white;
  font-size: 18px;
  margin: 0px 30px;
}
div.process div.cut{
  /* border: 1px solid red; */
  text-align: right;
  margin-bottom: 100px;
}
div.process div.cut div{
  /* border: 1px solid white; */
  display: inline-block;
  vertical-align: middle;
}
div.process div.cut div > div{
  display: block;
  text-align: center;
}
div.process div.cut img.icon_2{
  width: 140px;
}
div.process div.cut img.cut_2{
  width: 390px; 
  border-radius: 140px;
}
div.process div.cut div > div > pre{
  color: white;
  text-align: center;
  font-size: 16px;
}
div.process div.cut div > div > pre.cut_title{
  font-size: 18px;
}
div.process div.hole{
  /* border: 1px solid green; */
  display: block;
  vertical-align: middle;
  margin-bottom: 150px;
}
div.process div.hole > div{
  /* border: 1px solid white; */
  display: inline-block;
  vertical-align: middle;
}
div.process div.hole img.hole_3{
  width: 390px; 
  border-radius: 160px;
}
div.process div.hole img.icon_3{
  width: 140px;
}
div.process div.hole div.hole_text div > pre{
  color: white;
  font-size: 16px;
}
div.process div.hole div.hole_text > div pre.hole_title{
  font-size: 18px;
}
div.process div.hole div.hole_text > div{
  /* border: 1px solid red; */
  display: inline-block;
  vertical-align: bottom;
  margin: 0 30px;
}
div.process div.hole div.hole_text pre.hole_content {
  /* border: 1px solid white; */
 position: relative;
 right: 340px;
 top: 60px;
}
div.process div.heart{
  /* border: 1px solid red; */
  display: block;
  text-align: center;
  color: white;
  margin-bottom: 180px;
}
div.process div.heart div.heart_1{
  /* border: 1px solid blue; */
  display: inline-block;
  margin-left: 150px;
}
div.process div.heart div.heart_1 > div{
  /* border: 1px solid blue; */
  display: inline-block;
  margin: 20px;
}
div.process div.heart div.heart_1 img.icon_4{
  width: 150px;
}
div.process div.heart div.heart_1 img.heart_4{
  width: 180px; 
  border-radius: 50%;
}
div.process div.heart pre.heart_title{
  font-size: 18px;
}
div.process div.heart pre.heart_content{
  margin-left: 150px;
}
div.process div.heart pre.heart_content > span{
  display: none;
}
div.process div.components{
  /* border: 1px solid green; */
  display: block;
  vertical-align: middle;
  color: white;
  font-size: 16px;
  margin-bottom: 180px;
}
div.process div.components > div{
  /* border: 1px solid white; */
  display: inline-block;
  vertical-align: middle;
}
div.process div.components > div > div > pre > span{
  display: none;
}
div.process div.components img.components_5{
  height: 270px; width: 400px; 
  border-radius: 240px;
}
div.process div.components img.icon_5{
  width: 120px;
}
div.process div.components div.components_text > div pre.components_title{
  font-size: 18px;
  margin-right: 20px;
}
div.process div.components > div > img{
  /* border: 1px solid red; */
  margin-right: 50px;
  margin-left: 100px;
}
div.process div.components div.components_text > div{
  /* border: 1px solid red; */
  display: inline-block;
  vertical-align: bottom;
}
div.process div.components div.components_text pre.components_content {
  /* border: 1px solid white; */
  position: relative;
  right:225px;
  top:60px;
}
div.process div.key{
  /* border: 1px solid red; */
  width: 100%;
  display: block;
  text-align: right;
  margin-bottom: 150px;
}
div.process div.key img.icon_6{
  width: 140px;
}
div.process div.key img.key_6{
  width: 390px; 
  border-radius: 140px;
}
div.process div.key > div{
  /* border: 1px solid white; */
  display: inline-block;
  vertical-align: middle;
  margin: 30px;
}
div.process div.key div > div{
    display: block;
    text-align: center;
}
div.process div.key div > div > pre{
    color: white;
    font-size: 16px;
}
div.process div.key div > div > pre.key_title{
  font-size: 18px;
  margin-bottom: 30px;
}
div.process div.combine{
  /* border: 1px solid blue; */
  width: 100%;
  display: block;
  color:white;
  margin-bottom: 150px;
}
div.process div.combine img.combine_7{
  width: 180px; 
  border-radius: 50%;
}
div.process div.combine img.icon_7{
  width: 150px;
}
div.process div.combine > pre{
  color: white;
  font-size: 16px;
}
div.process div.combine > pre > span{
  display: none;
}
div.process div.combine div.combine_1 > div{
  display: inline-block;
}
div.process div.combine div.combine_1 pre.combine_title{
  /* border: 1px solid white; */
  font-size: 18px;
  margin-right: 50px;
  margin-left: 150px;
}
div.process div.combine > pre.combine_content{
  /* border: 1px solid white; */
  margin-left: 150px;
  display: inline-block;
}
div.process div.test{
  /* border: 1px solid red; */
  text-align: center;
  margin-bottom: 130px;
}
div.process div.test img.test_8{
  width: 200px; 
  border-radius: 100px;
}
div.process div.test img.icon_8{
  width: 120px;
}
div.process div.test > div {
  /* border: 1px solid white; */
  display: inline-block;
  vertical-align: middle;
}
div.process div.test > div:first-child{
  margin-left: 200px;
}
div.process div.test div > a {
  color: white;
  font-size: 18px;
  margin: 0px 30px;
}
div.process div.package{
  /* border: 1px solid green; */
  width: 1200px;
  display:block;
  vertical-align: middle;
  margin-bottom: 200px;
}
div.process div.package img.package_9{
  height: 270px; 
  width: 500px; 
  border-radius: 240px;
}
div.process div.package div.package{
  /* border: 1px solid white; */
  display: inline-block;
  vertical-align: top;
}
div.process div.package div.package_text{
  /* border: 1px solid red; */
  display: inline-block;
  vertical-align: top;
  margin: 60px 0 0 50px;
}
div.process div.package div.package_text div{
  color: white;
  font-size: 16px;
  display: inline-block;
}
div.process div.package div.package_text > div pre.package_title{
  font-size: 18px;
  margin-right: 50px;
}
div.process div.package div.package_text > div pre.package_content{
  position: relative;
  top: 60px;
  right: 215px;
}
div.note_lock_color{
  position: absolute;
  bottom: 550px;
  right: 0px;
  height: 100px;
  width: 380px;
  background-color: #37415A;
  border-radius: 30px;
}
img.note_lock{
  position: absolute;
  bottom: 490px;
  right: 50px;
}
div.news{
  /* border: 1px solid blue; */
  width: 1200px;
  height: 600px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  padding-top: 40px;
}
div.news_background_color{
  /* border: 1px solid white; */
  background-color: #121B32;
  /* min-width: 1200px; */
  width: 100%;
  height: 600px;
}
div.news div.news_title{
  /* border: 1px solid white; */
  padding-right: 750px;
  margin-top: 80px;
  margin-bottom: 70px;
}
div.news div.news_title{
  /* border: 1px solid red; */
  text-decoration: underline;
  text-underline-offset: 10px;
  color: white;
  font-size: 18px;
}
div.news > a{
  /* border: 1px solid red; */
  display: inline-grid;
  margin: 0 20px;
  text-align: left;
}
div.news > a > p{
  /* border: 1px solid green; */
  color: white;
  display: inline-block;
  margin: 20px 0;
}
div.news > a > img{
  height: 180px;
}
div.fotter_background{
  /* border: 1px solid green; */
  width: 100%;
  height: 250px;
  background-image: url("../image/fotter/fotter_background.png");
  background-repeat: repeat-x;
  background-size: auto 250px;
  top: 330px;
  margin-top: 100px;
}
div.fotter_fotter{
  /* border: 1px solid red; */
  width: 1200px;
  margin: 0 auto;
  height: 400px;
  background-repeat: repeat-x;
  background-size: auto 250px;
  position: relative;
  top: 250px;
}
div.fotter_fotter img.fotter_logo{
  /* border: 1px solid blue; */
  width: 100px;
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  top: 120px;
}
div.fotter_fotter div.fotter_info{
  /* border: 1px solid red; */
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  top: 280px;
  width: 950px;
  height: 120px;
}
div.fotter_fotter div.fotter_info > p{
  /* border: 1px solid white; */
  color: white;
  display: inline-block;
}
div.fotter_fotter div.fotter_info > p:first-child{
  margin: 0 50px 0px 50px;
}
div.fotter_fotter div.fotter_info > p:nth-child(2){
  margin: 0 50px 0px 0px;
}
div.fotter_fotter div.fotter_info > p:last-child{
  margin: 0 50px 0px 0px;
}
div.fotter_fotter div.fotter_info > a > img:first-child{
  width: 23px; 
  margin: 0 5px 0px 20px;
}
div.fotter_fotter div.fotter_info > a > img:nth-child(2){
  width: 23px; 
  margin: 0 5px 0px 0px;
}
div.fotter_fotter div.fotter_info > a > img:last-child{
  width: 23px
}
div.fotter_fotter div.fotter_info p.tibame{
  color:#54607E;
  text-align: right;
  position: absolute;
  right: 40px;
  bottom: 0;
}
