*{
  box-sizing: border-box;
}

body{
  width: 100%;
  min-width: 1200px;
  margin: 0px;
  background-color: #1F273D;
  position: absolute;
  font-family: "微軟正黑體", "BiauKai", "helvetica";
}

div.icon img.category{
  width: 30px;
  position: fixed;
  top: 45px;
  right: 120px;
  z-index: 10;
}
div.icon img.member{
  width: 30px;
  position: fixed;
  top: 95px;
  right: 118px;
  z-index: 10;
}
div.icon img.bag{
  width: 30px;
  position: fixed;
  top: 148px;
  right: 115px;
  z-index: 10;
}
#go_top{
  width: 30px;
  position: fixed;
  bottom: 50px;
  right: 120px;
  z-index: 10;
}

nav.nav{
  /* border: 1px solid white; */
  width: 1200px;
  margin: 25px  auto;
}

nav.nav ul.list{
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0px;
}

nav.nav ul.list div.shop{
  /* border: 1px solid blue; */
  padding: 20px 0px;
  position: relative;
  margin: 0px 30px;
  font-size: 16px;
}
nav.nav ul.list div.shop a.shop_cate{
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
}
nav.nav ul.list div.shop ul.shop_list{
  margin: 0;
  padding: 0;
  position: absolute;
  right: -7px;
  top: 100%;
  /* display: none; */
}

nav.nav ul.list div.shop:hover ul.shop_list{
  display: block;
}

nav.nav ul.list div.shop ul.shop_list > li{
  /* border: 1px solid red; */
  width: 80px;
  list-style: none;
  margin: 0px;
  padding: 15px 5px;
  text-align: center;
}

nav.nav ul.list div.shop ul.shop_list > li > a{
  color: white;
  text-decoration: none;
  font-size: 14px;
  padding: 3px 0px;
  transition: 0.5s;
  position: relative;
  z-index: 10;
}

nav.nav ul.list li > a img.logo{
  width: 66px;
  height: 66px;
  display: inline-block;
  margin: 0px 30px 0px 80px;
}

ul.list > li {
  color: white;
  display: inline-block;
  vertical-align: middle;
  padding: 0px;
  margin: 0px;
}

ul.list > li > a{
  /* border: 1px solid green; */
  color: white;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  /* padding: 20px 0px; */
  margin: 0px 30px;
  font-size: 16px;
  transition: 0.5s;
}
ul.list > li > a.about_us:hover{
  background-color: #D6C9A1;
  padding: 3px 0px;
  border-radius: 10px;
  color: black;
}
ul.list > li > a.pro_test:hover{
  background-color: #D6C9A1;
  padding: 3px 0px;
  border-radius: 10px;
  color: black;
}
ul.list > li > a.group:hover{
  background-color: #D6C9A1;
  padding: 3px 0px;
  border-radius: 10px;
  color: black;
}
ul.list > li > a.traffic:hover{
  background-color: #D6C9A1;
  padding: 3px 0px;
  border-radius: 10px;
  color: black;
}
ul.list > li > a.combination:hover{
  background-color: #D6C9A1;
  padding: 3px 0px;
  border-radius: 10px;
  color: black;
}
nav.nav ul.list div.shop ul.shop_list > li > a:hover{
  background-color: #D6C9A1;
  padding: 3px 0px;
  border-radius: 10px;
  color: black;
}
div.hamburger{
  background-color: #121B32;
  /* border: 1px solid blue; */
  width: 800px;
  height: 500px;
  position: fixed;
  top: 85px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  border-radius: 50px;
}
div.hamburger div.hamburger_all{
  /* border: 1px solid red; */
  position: absolute;
  height: 480px;
  width: 230px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10px;
}
div.hamburger div.hamburger_all > a img{
  /* border: 1px solid green; */
  display: block;
  width: 220px;
  position: relative;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}
div.hamburger div.hamburger_all > a img:hover{
  left:48%;
}
#icon_ham{
  width: 50px;
  position: absolute;
  top: 25px;
  right: 25px;
}
div.background_color{
  /* border: 1px solid red; */
  height: 920px;
  width: 100%;
  background-color: #2B344A;
  position: absolute;
  bottom: 200px;
}
div.background_color_left{
  /* border: 1px solid red; */
  height: 160px;
  width: 20%;
  background-color: #37415A;
  position: absolute;
  left: 0px;
  bottom: 1050px;
  border-radius: 0px 100px 100px 0px;
  transition: 2s;
  z-index: 1;
}
div.background_color_bottom{
  /* border: 1px solid red; */
  height: 160px;
  width: 25%;
  background-color: #37415A;
  position: absolute;
  right: 0px;
  bottom: 150px;
  border-radius: 100px 0px 0px 100px;
  transition: 2s;
}
div.background_color_bottom:hover{
  width: 100%;
  border-radius: 0px;
}
div.shop_pro_content{
  /* border: 1px solid blue; */
  height: 1800px;
  width: 1200px;
  position: relative;
  margin: 0 auto;
}
div.shop_pro_content img.shop_pro_jpg{
  width: 280px;
  position: absolute;
  left: 0px;
  top: 70px;
}
img.sketch_left{
  width: 230px;
  position: absolute;
  left: 50%;
  transform: translateX(-280%);
  top: 850px;
  z-index: 2;
}
img.sketch_bottom{
  width: 150px;
  position: absolute;
  right: 50%;
  transform: translateX(400%);
  bottom: 220px;
}
img.lamp{
  width: 500px;
  position: absolute;
  right: 0px;
  top: 120px;
}
div.shop_pro_content pre.shop_pro_title{
  color: white;
  font-size: 18px;
  position: absolute;
  top: 65px;
  left: 60px;
}
div.shop_pro_content div.p_1{
  /* border: 1px solid red; */
  position: absolute;
  width: 360px;
  height: 520px;
  top: 240px;
  left: 180px;
}
div.shop_pro_content div.p_1 img.product_1{
  height: 230px;
  position: absolute;
  left: 35px;
  top: 120px;
  border-radius: 30px 30px 0px 0px;
}
div.shop_pro_content div.p_1 img.desk_1{
  width: 380px;
  position: absolute;
  left: 0px;
  top: 330px;
}
div.shop_pro_content div.p_1 pre.product_1_title{
  font-size: 18px;
  color: white;
  position: absolute;
  top: 0px;
  right: 35px;
  text-align: right;
  margin: 0;
}
div.shop_pro_content div.p_1 pre.product_1_price{
  font-size: 18px;
  color: white;
  position: absolute;
  top: 60px;
  right: 100px;
}
div.shop_pro_content div.p_1 a.more_1{
  background-color: black;
  color: white;
  padding: 5px 13px;
  white-space: pre;
  text-decoration: none;
  font-size: 14px;
  position: absolute;
  bottom: 30px;
  right: 35px;
  transition: 0.5s;
}
div.shop_pro_content div.p_1 a img.shop_bag_1{
  width: 30px;
  position: absolute;
  top: 70px;
  right: 35px;
}
div.shop_pro_content div.p_2{
  /* border: 1px solid red; */
  position: absolute;
  width: 360px;
  height: 520px;
  top: 240px;
  right: 180px;
}
div.shop_pro_content div.p_2 img.product_2{
  height: 230px;
  position: absolute;
  left: 35px;
  top: 120px;
  border-radius: 30px 30px 0px 0px;
}
div.shop_pro_content div.p_2 img.desk_2{
  width: 370px;
  position: absolute;
  left: 0px;
  top: 240px;
}
div.shop_pro_content div.p_2 pre.product_2_title{
  font-size: 18px;
  color: white;
  position: absolute;
  top: 0px;
  right: 35px;
  text-align: right;
  margin: 0;
}
div.shop_pro_content div.p_2 pre.product_2_price{
  font-size: 18px;
  color: white;
  position: absolute;
  top: 60px;
  right: 100px;
}
div.shop_pro_content div.p_2 a.more_2{
  background-color: black;
  color: white;
  padding: 5px 13px;
  white-space: pre;
  text-decoration: none;
  font-size: 14px;
  position: absolute;
  bottom: 30px;
  right: 35px;
  transition: 0.5s;
}
div.shop_pro_content div.p_2 a img.shop_bag_2{
  width: 30px;
  position: absolute;
  top: 70px;
  right: 35px;
}
div.shop_pro_content div.p_3{
  /* border: 1px solid red; */
  position: absolute;
  width: 360px;
  height: 520px;
  top: 1000px;
  left: 180px;
}
div.shop_pro_content div.p_3 img.product_3{
  height: 230px;
  position: absolute;
  left: 35px;
  top: 120px;
  border-radius: 30px 30px 0px 0px;
}
div.shop_pro_content div.p_3 img.desk_3{
  width: 370px;
  position: absolute;
  left: 0px;
  top: 240px;
}
div.shop_pro_content div.p_3 pre.product_3_title{
  font-size: 18px;
  color: white;
  position: absolute;
  top: 0px;
  right: 35px;
  text-align: right;
  margin: 0;
}
div.shop_pro_content div.p_3 pre.product_3_price{
  font-size: 18px;
  color: white;
  position: absolute;
  top: 60px;
  right: 100px;
}
div.shop_pro_content div.p_3 a.more_3{
  background-color: black;
  color: white;
  padding: 5px 13px;
  white-space: pre;
  text-decoration: none;
  font-size: 14px;
  position: absolute;
  bottom: 30px;
  right: 35px;
  transition: 0.5s;
}
div.shop_pro_content div.p_3 a img.shop_bag_3{
  width: 30px;
  position: absolute;
  top: 70px;
  right: 35px;
}
div.shop_pro_content div.p_4{
  /* border: 1px solid red; */
  position: absolute;
  width: 360px;
  height: 520px;
  top: 1000px;
  right: 180px;
}
div.shop_pro_content div.p_4 img.product_4{
  height: 230px;
  position: absolute;
  left: 35px;
  top: 120px;
  border-radius: 30px 30px 0px 0px;
}
div.shop_pro_content div.p_4 img.desk_4{
  width: 380px;
  position: absolute;
  left: 0px;
  top: 330px;
}
div.shop_pro_content div.p_4 pre.product_4_title{
  font-size: 18px;
  color: white;
  position: absolute;
  top: 0px;
  right: 35px;
  text-align: right;
  margin: 0;
}
div.shop_pro_content div.p_4 pre.product_4_price{
  font-size: 18px;
  color: white;
  position: absolute;
  top: 60px;
  right: 100px;
}
div.shop_pro_content div.p_4 a.more_4{
  background-color: black;
  color: white;
  padding: 5px 13px;
  white-space: pre;
  text-decoration: none;
  font-size: 14px;
  position: absolute;
  bottom: 30px;
  right: 35px;
  transition: 0.5s;
}
div.shop_pro_content div.p_4 a img.shop_bag_4{
  width: 30px;
  position: absolute;
  top: 70px;
  right: 35px;
}
div.shop_pro_content div.p_1 a.more_1:hover{
  background-color: #96430F;
  border-radius: 10px;
}

div.shop_pro_content div.p_2 a.more_2:hover{
  background-color: #96430F;
  border-radius: 10px;
}
div.shop_pro_content div.p_3 a.more_3:hover{
  background-color: #96430F;
  border-radius: 10px;
}

div.shop_pro_content div.p_4 a.more_4:hover{
  background-color: #96430F;
  border-radius: 10px;
}
div.shop_pro_content div.p_1 > a > img:hover{
  transform: rotate(45deg);
}
div.shop_pro_content div.p_2 > a > img:hover{
  transform: rotate(45deg);
}
div.shop_pro_content div.p_3 > a > img:hover{
  transform: rotate(45deg);
}
div.shop_pro_content div.p_4 > a > img:hover{
  transform: rotate(45deg);
}
div.background_color_left:hover{
  width: 100%;
  border-radius: 0px;
}
div.fotter_color{
  /* border: 1px solid blue; */
  width: 100%;
  height: 200px;
  display: block;
  position: absolute;
  background-color: #121B32;
  bottom: 0px;
}
div.fotter{
  /* border: 1px solid white; */
  width: 1200px;
  height: 190px;
  display: block;
  position: relative;
  margin: 0 auto;
  top: -10px;
}
div.fotter img.fotter_sketch{
  width: 550px;
  position: absolute;
  left: 0px;
  bottom: 10px;
}
div.fotter img.fb{
  width: 25px;
  position: absolute;
  right: 300px;
  bottom: 85px;
}
div.fotter img.ig{
  width: 25px;
  position: absolute;
  right: 350px;
  bottom: 85px;
}
div.fotter img.twitter{
  width: 25px;
  position: absolute;
  right: 400px;
  bottom: 85px;
}
div.fotter > pre{
  color: white;
  font-size: 14px;
}
div.fotter pre.tel{
  position: absolute;
  right: 20px;
  bottom: 130px;
}
div.fotter pre.time{
  position: absolute;
  right: 20px;
  bottom: 100px;
}
div.fotter pre.add{
  position: absolute;
  right: 20px;
  bottom: 70px;
}
div.fotter pre.tibame{
  color:#54607E;
  position: absolute;
  bottom: 10px;
  right: 20px;
  white-space: nowrap;
  text-align: right;
}